

#banner {
    width: 100%;
}

body{
    background: #white;
    margin: 0;
     
}

h1 {
    text-align: center ;
}


p{
    text-align: center;          
}

#missao {
    font-size: 20px;
}

#pcor {
    color:black;
}
